<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="left_sidebar">
        Меню: <br>
        <!-- маркированный список -->
        <li><a href="#">купить собаку</a></li> <!-- ссылка в элементе списка -->
        <li><a href="#">Продать собаку</a></li> <!-- ссылка в элементе списка -->
        <li><a href="#">ПРИЮТ</a></li> <!-- ссылка в элементе списка -->
        <!--конец списка-->
        <div class="left_sidebar2">
            <hr>Действия: <br>
            Текст
        </div>
    </div>
</body>
</html>