<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Симулятор заводчика</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/main.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
<div id="container">
    <div id="header">
        <table width="900">
            <tr>
                <td><h1>Симулятор заводчика</h1></td>
                <h2><td><img src="{% static 'app/img/test.png' %}" /></td></h2>
            </tr>
        </table>
                
    </div>
    <div id="nav">
        <ul>
            <li><a href="{% url 'home' %}"><span>главная</span></a></li>
            <li><a href="{% url 'office' %}"><span>офис</span></a></li>
            <li class="dropdown">
                <a href="#"><span>КХС</span></a>
                <ul>
                    <li><a href="#"><span>суки</span></a></li>
                    <li><a href="#"><span>кобели</span></a></li>
                    <li><a href="#"><span>щенки</span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>АГТ</span></a>
                <ul>
                    <li><a href="#"><span>суки</span></a></li>
                    <li><a href="#"><span>кобели</span></a></li>
                    <li><a href="#"><span>щенки</span></a></li>
                    <li><a href="#"><span>история породы</span></a></li>
                    <li><a href="#"><span>расчет окраса</span></a></li>
                </ul>
            </li>
            <li><a href="#"><span>выход</span></a></li>
        </ul>
    </div>
</div>
    {# {% include 'app/left_sidebar.html' %} #}
    <div class="content"> 
    {% if user.is_authenticated %}  {# если пользователь авторизован, показываем контент#}
     
        {% block content %}{% endblock %}{# тут вставляем текст из блока в about.html#}
    
    {% else %}
        <a href="{% url 'login' %}">Для вывода данных авторизуйтесь</a>
    {% endif %}
    </div>
</body>
</html>